<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>save_my_macbook_battery</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/save_my_macbook_battery</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/usr/local/bin</string>

    <key>StartInterval</key>
    <integer>60</integer>    

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/var/log/save_my_macbook_battery/stdio.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/save_my_macbook_battery/err.log</string>

</dict>
</plist>